*{
	box-sizing: border-box;
}
body{
	font-family: verdana;
}
#form-holder{
	background-color: maroon;
	width: 450px;
	height: 240px;
	padding-top: 38px;
	border: solid 0px;
	//margin: 150px auto;
	position: relative;
	left: 470px;
	top: 300px;
}
#form-header{
	width: 450px;
	padding: 5px 27px;
	background-color: #FFAF0F;
	//color: white;
	font-family: verdana;
	font-size: 1.4em;
	font-weight: bold;
	position: absolute;
	top: -200px;
	//display: none;
}
.inbox{
	height: 35px;
	width: 85%;
	display: block;
	margin: auto;
	margin-top: 20px;
	font-size: 18px;
	padding-left: 10px;
	border-radius: 3px;
	border: solid 0px;
}
.inbox:focus{
	background-color: #e0e0e0;
	box-shadow: 0px 0px 10px #FFAF0F;
}
.login_btn{
	height: 30px;
	width: 20%;
	background-color: #FFAF0F;
	border: 0px;
	display: block;
	margin: auto;
	margin-top: 25px;
	font-size: 16px;
	//color: white;
	font-weight: bold;
}
#signupTrigger{
	display: block; text-align: right; color: #FFAF0F; padding-right: 10px; cursor: pointer;
}
#loginForm{
	position: relative;
}
#signupForm{
	display: none;
	position: relative;
}
.err_msg{
	width: 80%;
	height: 20px;
	background-color: #FFAF0F;
	border-radius: 3px;
	color: red;
	margin: auto;
	position: relative;
	top: 5px;
	text-align: center;
}
#enter_text{
	width: 90%; 
	display: inline;
	margin-right: 1%;
}
.message_pane{
	height: 480px;
	overflow-y: auto;
	margin-bottom: 10px;
}
.well{
	height: 75px;
}